<md-dialog flex=60 flex-xs=100>
     <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{product.name || 'Nuevo Producto'}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <ng-md-icon class="icon" style="fill: #fff" icon="close" size="20" aria-label="call">
                </ng-md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content >
        <md-tabs md-stretch-tabs="always" md-dynamic-height md-border-bottom >
            <md-tab label="General" flex layout="row">                
                <form layout-padding flex layout="row" layout-wrap ng-submit="save()">
                    <br/>
                        <div flex=100 layout="row">
                            <md-input-container flex=50 style="margin-bottom:0px">
                                <label>Categoria</label>
                                <md-select ng-model="product.category" ng-change="updateView()" placeholder="Categoria">
                                    <md-option ng-repeat="category in categories" ng-value="category.name">
                                        {{category.name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container flex=50 style="margin-bottom:0px">
                                <label>Nombre</label>
                                <input ng-model="product.name" type="text" autocomplete="off"/>                                                            
                            </md-input-container>            
                        </div>                
                        
                        <div class="reveal-animation" flex=100 ng-include="specificPropertiesView"></div> 

                        <div flex=100 layout="row">
                            <md-input-container flex=50 style="margin-bottom:0px">
                                <label>Cantidad en deposito</label>
                                <input ng-model="product.quantity" type="number" autocomplete="off"/>                                                            
                            </md-input-container>  
                            <md-input-container flex=50 style="margin-bottom:0px">
                                <label>Proveedor</label>
                                <md-select ng-model="product.provider" placeholder="Proveedor">
                                    <md-option ng-repeat="provider in productProviders" ng-value="provider">
                                        {{provider}}
                                    </md-option>
                                </md-select>
                            </md-input-container>                                      
                        </div> 

                        <md-chips flex=100
                            ng-model="product.tags"
                            placeholder="Agrega etiquetas!"                            
                            secondary-placeholder="Etiquetas +">
                        </md-chips>                    
                </form>
            </md-tab>
            <md-tab flex label="Precios" >
                <md-content flex layout="row">       
                    <md-card md-whiteframe="4" layout-padding flex=40 flex-xs="50">   
                        <md-card-content flex>  
                            <md-subheader class="center">Nuevo Precio</md-subheader>        
                            <form ng-submit=>
                                <br/>                 
                                <div flex layout="column">                        
                                    <md-input-container flex>
                                        <label>Precio</label>
                                        <input ng-model="newPrice.value" type="number">
                                    </md-input-container>
                                    <md-input-container ng-show="isPriceTypeInputShowed" flex>
                                        <label>Tipo</label>
                                        <input type="text" ng-model="newPrice.type">
                                    </md-input-container>      
                                    <md-input-container ng-hide="isPriceTypeInputShowed" flex>
                                        <label>Tipo</label>                              
                                        <md-select ng-model="newPrice.type" ng-change="selectPriceType()" placeholder="Tipo">
                                            <md-option ng-repeat="priceType in priceTypes" value="{{priceType}}">{{priceType}}</md-option>                                        
                                            <md-option value="Otro">Otro</md-option>                                           
                                        </md-select>
                                    </md-input-container>
                                    <md-input-container ng-show="isNewPriceQuantityShowed" flex>
                                        <label>Cantidad</label>
                                        <input ng-model="newPrice.quantity" type="number">
                                    </md-input-container>                                                                    
                                </div>
                            </form>
                        </md-card-content>
                        <md-card-actions layout="row" layout-align="center center"> 
                            <md-button class="md-fab md-mini" ng-click="addPrice()" aria-label="addPrice">          
                                <ng-md-icon style="fill: #fff" icon="add" class="fab-button-icon" size="30">
                                </ng-md-icon>  
                            </md-button>                                
                        </md-card-actions>
                    </md-card>                    

                    <md-card md-whiteframe="4" flex=60 flex-xs="50">     
                        <md-list flex>
                            <md-subheader class="center">Lista de precios</md-subheader>
                            <md-list-item class="md-2-line" ng-click="null" ng-repeat="price in product.prices | orderBy:'value'">
                                <div flex=30 ng-src="" class="md-avatar">
                                    {{price.value}} Bs
                                </div>
                                <div class="md-list-item-text" layout="column">
                                    <h3>{{price.type}}</h3>                            
                                    <p ng-show="price.quantity">{{price.quantity}} Unidad</p>
                                </div>
                                <ng-md-icon class="md-secondary" style="fill:#607d8b" icon="delete" ng-click="removePrice(price)" aria-label="removePrice">                                    
                                </ng-md-icon>
                            </md-list-item>                            
                        </md-list> 
                    </md-card>  
                </md-content>                            
            </md-tab>
            <md-tab flex label="Ubicaciones">
                <md-content flex layout="row">       
                    <md-card md-whiteframe="4" layout-padding flex=40 flex-xs=50>   
                        <md-card-content>  
                            <md-subheader class="center">Nueva Ubicacion</md-subheader>        
                            <form >
                                <br/>                 
                                <div flex layout="column">                        
                                    <md-input-container flex>
                                        <label>Ubicacion</label>
                                        <input type="text" ng-model="newLocation.value">
                                    </md-input-container>
                                    <md-select flex ng-model="newLocation.type" placeholder="Tipo">                                        
                                        <md-option ng-repeat="locationType in locationTypes" value="{{locationType}}">
                                            {{locationType}}
                                        </md-option>                                                                     
                                    </md-select>
                                </div>
                            </form>
                        </md-card-content>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button class="md-fab md-mini md-hue-2" aria-label="addLocation">          
                                <ng-md-icon style="fill: #fff" icon="add" ng-click="addLocation()" class="fab-button-icon" size="30">
                                </ng-md-icon>  
                            </md-button>                     
                        </md-card-actions>
                    </md-card>                    

                    <md-card md-whiteframe="4" flex=60 flex-xs=50>     
                        <md-list flex>
                            <md-subheader class="center">Lista de ubicaciones</md-subheader>
                            <md-list-item ng-repeat="location in product.locations | orderBy:'type'" class="md-2-line" ng-click="null">
                                <div class="md-list-item-text" layout="column">
                                    <h3>{{location.value}}</h3>                            
                                    <p>{{location.type}}</p>
                                </div>
                                <ng-md-icon class="md-secondary" style="fill:#607d8b" icon="delete" ng-click="removeLocation(location)" aria-label="removeLocation">                                    
                                </ng-md-icon>
                            </md-list-item>                                                        
                        </md-list> 
                    </md-card>  
                </md-content> 
            </md-tab>
            <md-tab flex label="Imagenes">
                <div carousel flex>
                    <a class="carousel-item" >
                        <img check-image="{{getProductImageUrl(product, '-L')}}" class="product-image" 
                                src="/images/defaultProduct.gif">
                    </a>                   
                </div>
            </md-tab>            
        </md-tabs>        
    </md-dialog-content>   
    <md-dialog-actions layout="row" ng-hide="isLoading">
        <md-button ng-click="cancel()" >
            Cancelar
        </md-button>
        <md-button ng-click="save()" style="margin-right:20px;" >
            Salvar
        </md-button>
    </md-dialog-actions> 
</md-dialog>

<!--<md-dialog flex-gt-xs="50" aria-label="summaryCart"  ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Nuevo Producto</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <ng-md-icon class="icon" style="fill: #fff" icon="close" size="20" aria-label="call">
                </ng-md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <form layout-padding flex  ng-submit="save()">
        <md-dialog-content flex layout="column">
            <br/>
            <div flex layout="row">
                <md-input-container flex>
                    <md-select ng-model="product.category" placeholder="Categoria">
                        <md-option ng-repeat="category in categories" ng-value="category">
                            {{category.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex ng-if="product.category.name === 'Invitaciones'">
                    <md-select ng-model="product.properties.type" placeholder="Tipo">
                        <md-option ng-repeat="type in invitationTypes" ng-value="type">
                            {{type}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <md-chips flex ng-if="!IsAddingCodesEnabled" placeholder="Nombres de los productos!" ng-model="productNames">
            </md-chips>
            <div flex ng-if="IsAddingCodesEnabled" layout="row">
                <md-input-container flex>
                    <label>Codigo</label>
                    <input>
                </md-input-container>
                <md-input-container flex>
                    <label>Min</label>
                    <input>
                </md-input-container>
                <md-input-container flex>
                    <label>Max</label>
                    <input>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-checkbox ng-model="IsAddingCodesEnabled" aria-label="Checkbox 1">
                Agregar codigos
            </md-checkbox>
            <span flex></span>
            <md-button type="button" ng-click="cancel()">
                Cancelar
            </md-button>
            <md-button type="submit">
                Salvar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>-->