<md-dialog>
    <md-dialog-content>
        <md-list>
            <h4 class="primary-color center">Selecciona un precio!</h4>
            <br/>
            <md-list-item>
                <md-radio-group ng-model="selectedPrice">
                    <md-radio-button ng-repeat="priceType in priceTypes" 
                        value="{{priceType.id}}" class="md-primary" aria-label="price">
                        {{priceType.name}}
                    </md-radio-button>
                </md-radio-group>
            </md-list-item>
        </md-list>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="cancel()">
            Cancel
        </md-button>
        <md-button ng-click="saveSettings()">
            Guardar
        </md-button>
    </md-dialog-actions>
</md-dialog>