<div flex layout="row" class="background">  
<md-content flex layout-padding class="background">
    <h2 class="md-title">
        Imagenes Pequeñas
        <md-button ng-disabled="noSmallImageProducts.length > 0" class="md-accent" ng-click="showSmallResults()">Resultados</md-button>
    </h2>

    <p>
        Verifica todas las imagenes pequeñas que existen actualmente en el sistema! 
    </p>
    <div flex layout=row>
        <md-button ng-disabled="isSmallButtonDisabled" class="md-raised md-primary" ng-click="testSmallImages()">Comenzar!</md-button>
        <md-progress-linear ng-show="!smallLoaderIsDeterminateMode" style="margin-top:20px;" flex md-mode="indeterminate"></md-progress-linear>
        <md-progress-linear ng-show="smallLoaderIsDeterminateMode" style="margin-top:20px;" flex md-mode="determinate" value="{{smallImagesIndicator}}"></md-progress-linear>
    </div>    

    <h2 class="md-title">Imagenes Medianas</h2>

    <p>
        Verifica todas las imagenes medianas que existen actualmente en el sistema! 
    </p>
    <div flex layout=row>
        <md-button ng-disabled="isMediumButtonDisabled" class="md-raised md-primary" ng-click="testMediumImages()">Comenzar!</md-button>
        <md-progress-linear ng-show="!mediumLoaderIsDeterminateMode" style="margin-top:20px;" flex md-mode="indeterminate"></md-progress-linear>
        <md-progress-linear ng-show="mediumLoaderIsDeterminateMode" style="margin-top:20px;" flex md-mode="determinate" value="{{mediumImagesIndicator}}"></md-progress-linear>
    </div>    

    <h2 class="md-title">Imagenes Grandes</h2>

    <p>
        Verifica todas las imagenes grandes que existen actualmente en el sistema! 
    </p>
    <div flex layout=row>
        <md-button ng-disabled="isLargeButtonDisabled" class="md-raised md-primary" ng-click="testLargeImages()">Comenzar!</md-button>
        <md-progress-linear ng-show="!largeLoaderIsDeterminateMode" style="margin-top:20px;" flex md-mode="indeterminate"></md-progress-linear>
        <md-progress-linear ng-show="largeLoaderIsDeterminateMode" style="margin-top:20px;" flex md-mode="determinate" value="{{largeImagesIndicator}}"></md-progress-linear>
    </div>
    
    <p ng-repeat="product in products" class="background">
        {{product.name}}
    </p>

    <h2 class="md-title">Resultados</h2>
    <div layout="row">
        
        <md-list flex="30">
            <md-subheader class="md-no-sticky">Productos sin imagenes pequeñas</md-subheader>
            <md-list-item class="md-3-line" ng-repeat="product in noSmallImageProducts track by $index " ng-click="null">          
            <div class="md-list-item-text" layout="column">
                <h3>{{product.name}}</h3>            
            </div>
            </md-list-item>
        </md-list>
        <md-list flex="30">
            <md-subheader class="md-no-sticky">Productos sin imagenes medianas</md-subheader>
            <md-list-item class="md-3-line" ng-repeat="product in noMediumImageProducts track by $index " ng-click="null">          
            <div class="md-list-item-text" layout="column">
                <h3>{{product.name}}</h3>            
            </div>
            </md-list-item>
        </md-list>
        <md-list flex="30">
            <md-subheader class="md-no-sticky">Productos sin imagenes grandes</md-subheader>
            <md-list-item class="md-3-line" ng-repeat="product in noLargeImageProducts track by $index " ng-click="null">          
            <div class="md-list-item-text" layout="column">
                <h3>{{product.name}}</h3>            
            </div>
            </md-list-item>
        </md-list>
    </div>    
</md-content>
</div>
