<div flex layout="row" class="background">
    <md-content flex layout-padding class="background">
        <h2 class="md-title">
            Lista de Imagenes
            <md-button ng-disabled="noImageProducts.length <= 0" class="md-accent" ng-click="showResults()">Resultados</md-button>
        </h2>

        <p>
            Verifica todas las imagenes que existen actualmente en el sistema!
            <b>Productos Encontrados: {{noImageProducts.length}}</b>
        </p>
        <div flex layout=row>
            <md-button ng-disabled="isTestButtonDisabled" class="md-raised md-primary" ng-click="testImages()">Comenzar!</md-button>
            <md-progress-linear ng-show="!loaderIsDeterminateMode" style="margin-top:20px;" flex md-mode="indeterminate"></md-progress-linear>
            <md-progress-linear ng-show="loaderIsDeterminateMode" style="margin-top:20px;" flex md-mode="determinate" value="{{imagesIndicator}}"></md-progress-linear>
        </div>
    </md-content>
</div>