<div flex layout="row" layout-align="center center" ng-cloak="">  
  <md-card flex="90" flex-gt-sm=70 flex-gt-md=40>
    <md-content layout-padding>
      <div flex layout="row" layout-align="center center">
        <img flex=50 style="object-fit:contain;height:100px"src="/images/tunari-logo-1.png">
      </div>
      
      <form name="registerForm" novalidate ng-submit="registerForm.$valid && registerUser()">
          <md-input-container class="md-block" flex-gt-xs>
            <label>Nombre</label>
            <input ng-model="name" validate-not-empty name="userName" autocomplete="off"/>
            <div ng-messages="registerForm.userName.$error">
              <div ng-message="empty">Necesiamos un nombre.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-xs>
            <label>Contraseña</label>
            <input  ng-model="password" type="password" name="password" validate-not-empty>
            <div ng-messages="registerForm.password.$error">
              <div ng-message="empty">Necesiamos un password.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-xs>
            <label>Repetir Contraseña</label>
            <input ng-model="passwordConfirm" type="password" validate-equals="password" validate-not-empty name="passwordConfirm">
            <div ng-messages="registerForm.passwordConfirm.$error">
              <div ng-message="empty">Necesiamos un password.</div>              
              <div ng-message="equal">Los passwords no son iguales.</div>
            </div>            
          </md-input-container>
          <md-card-actions layout="row" layout-align="end center">      
            <md-button type="submit" class="md-raised md-primary">Registrar</md-button>
          </md-card-actions>    
    </md-content>             
  </md-card>
</div>
