<md-content flex layout="row" layout-align="center" class="background">
    <form flex="80" flex-gt-sm="50" flex ng-submit="saveSettings()">
        <h1 class="center primary-color">
            <strong>Configuraciones</strong>
        </h1>
        </br>
        <md-list flex ng-cloack>
            <md-subheader class="md-no-sticky md-accent">CONFIGURACIONES GENERALES</md-subheader>
            <md-subheader class="md-no-sticky">Tipos de Invitaciones</md-subheader>
            <md-list-item>
                <md-chips flex ng-model="invitationTypes.value" placeholder="Agrega un tipo!" secondary-placeholder="Etiquetas+">
                </md-chips>
            </md-list-item>
            </br>
            <md-subheader class="md-no-sticky">Busquedas Rapidas</md-subheader>
            <md-list-item>
                <md-chips flex ng-model="quickSearchs.value" placeholder="Agrega Etiqueta!" secondary-placeholder="Etiquetas+">
                </md-chips>
            </md-list-item>
            </br>
            <md-subheader class="md-no-sticky">Productos excluidos en las estadisticas</md-subheader>
            <md-list-item>
                <md-chips flex ng-model="excludeListForStatistics.value" placeholder="Excluye un producto!" secondary-placeholder="Producto+">
                </md-chips>
            </md-list-item>
            <br/>
            <md-subheader class="md-no-sticky md-accent">CONFIGURACIONES POR CATEGORIA</md-subheader>
            <div ng-repeat="category in productCategories.value">
                <md-subheader class="md-no-sticky">{{category.name}}: Tipos de precios</md-subheader>
                <md-list-item>
                    <md-chips flex ng-model="category.priceNames" placeholder="Tipos de precios" secondary-placeholder="Precio+">
                    </md-chips>
                </md-list-item>
                <br/>
            </div>
            <md-subheader class="md-no-sticky md-accent">CONFIGURACIONES AVANZADAS</md-subheader>
            <br/>
            <md-list-item>
                <md-input-container class="md-block" flex>
                    <label>Direccion del servidor de imagenes</label>
                    <input ng-model="imgServer.value">
                </md-input-container>
            </md-list-item>
            <md-list-item>
                <md-input-container class="md-block" flex>
                    <label>Intervalo por imagen en el Mostratio</label>
                    <input type="number" ng-model="sampleBookInterval.value">
                </md-input-container>
            </md-list-item>
            <md-list-item>
                <md-button ng-click="testImgServer()" class="md-raised">
                    Testear el servidor de imagenes
                </md-button>
            </md-list-item>
        </md-list>
        <md-card-actions layout="row" layout-align="end end">
            <md-button class="md-raised md-primary" type="submit">Guardar</md-button>
        </md-card-actions>
    </form>
</md-content>